<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">



<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Busqueda especie</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>


<style> 
	body{
		background-image: url('https://img.freepik.com/vector-gratis/fondo-vida-silvestre-acuarela_23-2149424200.jpg?w=2000');
	}
		
</style>

</head>



<body>

	<form th:action="@{/empleados/idHab}" th:object="${animal}" th:method="GET">
		<table class="table table-success table-striped">
			<tr>
				<td>
					<label>Ingrese el Especie:</label>
				</td>

				<td>
					<input type="text" id="apellido" th:field="${animal.especie}">
					
				</td>
			</tr>
		</table>
		<input class="btn btn-primary" type="submit" value="Buscar">
	</form>

</body>